---
- name: Create a Router from a template
  hosts: localhost
  gather_facts: no
  tasks:
  - name: Clone the Router
    vmware_guest:
      hostname: "{{ .VCenterServer }}"
      username: "{{ .VCenterUser }}"
      password: "{{ .VCenterPassword }}"
      validate_certs: False
      name: "{{ .VMName }}"
      template: "{{ .TemplateName }}"
      datacenter: "{{ .Datacenter }}"
      datastore: "{{ .Datastore }}"
      folder: "{{ .VMFolder }}"
      state: poweredon
      cluster: "{{ .Cluster }}"
      resource_pool: "{{ .ResourcePool }}"
      wait_for_ip_address: yes

  - name: Get IP Address
    vmware_guest_info:
      hostname: "{{ .VCenterServer }}"
      username: "{{ .VCenterUser }}"
      password: "{{ .VCenterPassword }}"
      datacenter: "{{ .Datacenter }}"
      validate_certs: False
      name: "{{ .VMName }}"
      schema: "vsphere"
      properties:
        - guest.ipAddress
    register: vm_info

  - set_fact:
      ip_dict: { "ip_address": "[[ vm_info.instance.guest.ipAddress ]]" }
