---
- name: Create a VM from a template
  hosts: localhost
  gather_facts: no
  tasks:
  - name: Clone the template
    vmware_guest:
      hostname: "{{ .VCenterServer }}"
      username: "{{ .VCenterUser }}"
      password: "{{ .VCenterPassword }}"
      validate_certs: False
      name: "{{ .VMName }}"
      template: "{{ .TemplateName }}"
      datacenter: "{{ .Datacenter }}"
      datastore: "{{ .Datastore }}"
      folder: "{{ .VMFolder }}"
      state: poweredon
      cluster: "{{ .Cluster }}"
      resource_pool: "{{ .ResourcePool }}"
      networks:
        - name: "{{ .PortGroup }}"
          connected: true
          start_connected: true
          ip: "{{ .IPAddress }}"
          netmask: 255.255.255.0
          gateway: "192.168.1.1"
      customization:
        dns_servers:
          - 8.8.8.8
        script_text: |
          #!/bin/bash
          if [ x$1 == x"postcustomization" ]; then
            ping -c 4 8.8.8.8
          fi
      wait_for_ip_address: yes
    register: vm_info

  - set_fact:
      ip_dict: { "ip_address": "[[ vm_info.instance.hw_eth0.ipaddresses | ansible.utils.ipv4 ]]" }
